log/
temp/
config.local.neon
secret.neon

.git*
.DS_Store
.htdeployment
!.gitignore
!.htaccess
!web.config

/resources/
/Deployment/
/www/images
/www/files
/www/rozvrhy
/www/supl
/www/photo
/www/vtipy
