{block #content}

	<h2 n:block="title">Akce</h2>
	<a n:href="event">Přidat novou akci</a>
	<h3>Seznam akcí</h3>
	<ul class="unstyled">
		<li n:foreach="$eventList as $event">
			<a n:href="event id => $event->id" title="Upravit">
				{$event->title} 
			</a>
		</li>
	</ul>