#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
common:
	parameters:
		photos:
			dir: photo
			maxSizePx: 1000
			maxSizeThumbPx: 150
		jokes:
			dir: vtipy
			maxSizePx: 476
			maxSizeThumbPx: 155
		g-one:
			url: 'http://g-one.tv/'
			videoThumbWidth: 178
			videoThumbHeight: 100
		# needed for:
		# 	SpecialPagePresenter::renderClasses
		# 	GymnDaciceImport::__construct
		classes:
			'Osmileté studium':
				- prima
				- sekunda
				- tercie
				- kvarta
				- kvinta
				- sexta
				- septima
				- oktáva
			'Čtyřleté studium':
				- 'I. ročník'
				- 'II. ročník'
				- 'III. ročník'
				- 'IV. ročník'
		# needed for:
		# 	BasePresenter::beforeRender
		menu: # položky menu, které nejsou v databázi
			'Články': Article:list
			'Kontakty': SpecialPage:contacts
			'Úřední deska': SpecialPage:documents
			'Ke stažení': SpecialPage:downloads
			'Třídy': SpecialPage:classes
			'Absolventi': /files/absolventi.pdf
			'Návštěvní kniha': GuestBook:default

	php:
		date.timezone: Europe/Prague
		zlib.output_compression: yes

	nette:
		application:
			errorPresenter: Error

		database:
			default:
				dsn: 'mysql:host=127.0.0.1;dbname='
				user: 
				password: 
			sjdacice:
				dsn: 'mysql:host=sjdacice.cz;dbname='
				user: 
				password: 

		session:
			expiration: 14 days


	services:
		routerFactory: RouterFactory
		router: @routerFactory::createRouter

		authenticator: Authenticator

		articles: Articles
		menuManager: MenuManager
		photos: PhotoStorage(%wwwDir%, %photos.dir%)
		jokes: Jokes
		jokeImages: PhotoStorage(%wwwDir%, %jokes.dir%)
		attachments: UploadFileStorage(%wwwDir%, 'files')
		fulltextSearcher: FulltextSearcher(..., 'fulltext_article')
		guestBook: GuestBook
		foods: Foods

		texy: Texy
		dateFormatter: DateFormatter

		# Components
		captchaControl: 
			class: LazyCaptchaControl
			arguments: ['Opište správně znaky z obrázku', 'Zde opište znaky z obrázku...']
			setup:
				- setImageHeight(55)
				- setBackgroundColor(["red" = 237, "green" = 237, "blue" = 240]) # #ededf0 = page background color

		# Providers
		sjdaciceDbProvider: ServiceProvider(..., 'nette.database.sjdacice')

		# ACL
		authorizator:
			class: Permission
			setup:
				- addRole('admin')
				- addRole('jokeAdmin')
				- addResource('article')
				- addResource('event')
				- addResource('joke')
				- allow('jokeAdmin', 'joke')
				- allow('admin')

	factories:

production < common:

development < common:
