<div class="g_one-video" n:if="$video">
	<a href="http://g-one.tv/{$video->url}" title="Video na G-one - {$video->title}">
		<span class="with-icon icon-play g_one-video-bg"></span>
		<h4 class="g_one-video-title">{$video->title}</h4>
		<img src="http://g-one.tv/thumbs/{$video->id}.jpg" width="178px" height="100px">
	</a>
</div>
